.hotelsWrapper {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 80px);
  overflow-y: auto;
  max-height: calc(100vh - 80px);
  background-color: $bn-light-grey;
}

.hotelsContainer {
  width: 70%;
  max-width: 1440px;
  margin: 40px auto auto;
  display: flex;
  flex-direction: column;
}

.borderLine {
  height: 2px;
  margin-top: 10px;
  background-color: $bn-black;
  transition: all 0.8s;
}

.initBorderLine {
  width: 0;
}

.endBorderLine {
  width: 100%;
}

.filtersContainer {
  position: relative;
}

.topItems {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.topLine {
  width: 100%;
  display: flex;
  height: 56px;
  flex-direction: column;
  transition: all 0.3s;
  border-bottom: 0 solid $bn-black;

  &Active {
    border-bottom: 100% solid $bn-black;
  }

  .searchBarContainer {
    display: flex;
    height: inherit;

    align-self: flex-end;
    gap: 10px;

    input {
      width: 328px;
    }
  }
}
