.buttonsContainer {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.googleButton {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: $bn-claucos;
  border: none;

  span {
    display: flex;
    justify-content: center;
    color: $bn-light-grey;
    width: 100%;
    font-size: 16px;
  }

  div {
    height: 38px;
    width: 38px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1px;

    img {
      width: 20px;
      height: 20px;
    }
  }
}

.loginButton {
  width: 100%;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  color: $bn-light-grey;
  background-color: $bn-black;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s;
}

.loginButton:hover {
  background-color: $bn-semi-black;
}
