.messengerContainer {
  display: flex;

  width: 100%;
  height: 100%;

  .dialogs {
    width: 23%;
    height: 100%;
  }

  .selectedDialog {
    width: 70%;
  }
}

.messengerWrapper {
  width: 100%;
  height: 100%;
}
