.bottomItems {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.bottomButtons {
  margin-top: 40px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 7px;
}

