.header {
  font-size: 30px;
  text-transform: uppercase;
  padding: 0 12px;
  font-family: "DaysOne", sans-serif;
}

.table {
  border-radius: 50%;
}

.marginBot {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.roundedImage {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
