.header {
  font-size: 30px;
  text-transform: uppercase;
  padding: 0 12px;
  font-family: "DaysOne", sans-serif;
}

.table {
  border-radius: 50%;
}

.marginBot {
  margin-bottom: 20px;
}

.roundedImage {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
