.pageWrapper {
  display: flex;
  background-color: $bn-light-grey;
  height: calc(100% - 80px);
  overflow-y: auto;

  .contentContaienr {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 40px auto auto;
  }

  .carousel {
    width: 100%;

    & > div {
      width: 620px;
    }

    img {
      border-radius: 22px;
      max-height: 600px;
    }
  }

  .feedbackContainer {
    margin: 0 0 320px;
    display: flex;
    flex-direction: column;
  }

  .columns {
    display: flex;
    gap: 18px;
    width: 100%;

    & > div:first-child {
      display: flex;
      flex: 1 70%;
    }

    & > div:last-child {
      display: flex;
      flex: 1 40%;
      flex-direction: column;
      background-color: $bn-white;
      padding: 12px;
      border-radius: 6px;
    }

    .sepLine {
      display: flex;
      justify-content: space-between;
    }

    .flexDown {
      display: flex;
      flex-direction: column;
    }

    .price {
      font-family: "DaysOne", sans-serif;
      font-size: 18px;
    }

    .name {
    }
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
  }
}

.rightCol {
  overflow-y: auto;
  max-height: 600px;
}
