.headerContainer {
  background-color: $bn-black;
  color: $bn-white;
  height: 80px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 10;

  .link {
    transition: all 0.3s;
    padding: 4px 8px;
    color: $bn-light-grey;
    font-size: 15px;
    font-family: "DaysOne", sans-serif;
    border-radius: 4px;

    &:hover {
      background-color: $bn-semi-black;
      color: $bn-claucos !important;
    }
  }
}

.headerContent {
  width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pirkol {
  display: flex;
  cursor: pointer;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.active {
  background-color: $bn-light-grey !important;
  border-radius: 4px;
  color: $bn-claucos !important;
}

.highlight {
  background-color: $bn-claucos;
}

.logoCaption {
  font-family: "DaysOne", sans-serif;
  margin-left: 10px;
  font-size: 32px;
  align-self: center;
}

.logoImage {
  width: 48px;
  height: 48px;

  img {
    width: inherit;
    height: inherit;
  }
}

.linksContainer {
  display: flex;
  align-items: center;
  margin-left: 40px;
  gap: 8px;
}

.buttons {
  display: flex;
  gap: 15px;
  align-items: center;

  button {
    height: 42px;
    padding: 0 40px;
  }
}

.buttons {
  a {
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 0.5s;
  }

  a:hover {
    color: $bn-claucos !important;
    background-color: $bn-semi-black !important;
  }
}
