.coolLine {
  margin: 8px 0;
  display: flex;
  width: 100%;
  align-items: center;

  .text {
    margin: 0 10px;
    font-family: "DaysOne", sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .line {
    top: 45%;
    height: 2px;
    background-color: $bn-black;
    transition: all 0.3;
    width: 100%;
  }
}
