.headerCaption {
}

.hotelsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.dialogUpdate {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
