.headerCaption {
  font-family: "DaysOne", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin: 10px;
}

.noResults {
  font-family: "DaysOne", sans-serif;
  text-transform: uppercase;
}

.hotelsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.dialogUpdate {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
